@use "src/styles/variables" as *;


$name: 'docs';

.#{$name} {
  @include byModifier('docs-content') {
    //max-width: 960px;
  }
  @include byModifier('docs-tabs') {
    @include nextByName('divider') {
      margin-top: 0;
      background-color: var(--text-bg-color);
    }
  }

  @include byModifier('docs-tab') {
    padding: 4px 8px;

    @include withModifier('active') {
      background-color: var(--text-bg-color);
    }
  }
}

.dark-theme {
  @include byModifier('docs-tab') {

    @include withModifier('active') {
      color: var(--text-color-inverted);
    }
  }
  @include byModifier('docs-tabs') {

    @include nextByName('divider') {
      border-color: var(--text-bg-color);
      margin-top: 0;
    }
  }
}