:root {
  /**
   * User input values.
   */
  --item-display: flex;
  --item-flex-direction: column;
  --item-flex-grow: 1;

  --item-margin-top: 0;
  --item-margin-bottom: 0;
  --item-margin-left: 0;
  --item-margin-right: 0;

  --item-padding-top: 0;
  --item-padding-bottom: 0;
  --item-padding-left: 0;
  --item-padding-right: 0;

  /**
   * Calculated values.
   */
  --item-margin: var(--item-margin-top) var(--item-margin-right) var(--item-margin-bottom) var(--item-margin-left);
  --item-padding: var(--item-padding-top) var(--item-padding-right) var(--item-padding-bottom) var(--item-padding-left);
}