:root {
  /**
   * User input values.
   */
  --text-color: var(--black);
  --text-color-inverted: var(--grey);
  --text-font-size: 16px;
  --text-font-weight: 400;
  --text-line-height: 1.2em;

  --text-paragraph-margin: .6em

  /**
   * Calculated values.
   */
}