@use '../mixins';
@use '../variables' as *;

@include mixins.byModifier('disc') {
  list-style-type: var(--disc-list-style-type);

  @include mixins.byName('list-item') {
    $padding-left: 16px;
    position: relative;
    padding-left: $padding-left;

    &::before {
      position: absolute;
      content: '\2022';
      display: block;
      left: calc($padding-left/3);
      text-align: center;
      bottom: 1px;
    }
  }
}
