@use '../mixins';
@use '../variables' as *;

@include mixins.byModifier('header') {
  color: var(--header-text-color);

  text-align: var(--header-text-align);
  margin: var(--header-text-margin);
  font-size: var(--header-text-font-size);
  font-weight: var(--header-text-font-weight);
  line-height: var(--header-text-line-height);

  & + #{$ce-base-name}--subheader {
    margin-top: calc(var(--header-text-margin-bottom) * (-1));
    font-style: italic;
  }
}
