@use '../mixins';

@include mixins.byModifier('header') {
  color: var(--header-color);

  font-size: var(--header-text-font-size);
  font-weight: var(--header-text-font-weight);
  line-height: var(--header-text-line-height);
}