@use '../mixins';

@include mixins.byModifier('subheader') {
  color: var(--subheader-text-color);

  text-align: var(--subheader-text-align);
  margin: var(--subheader-text-margin);
  font-size: var(--subheader-text-font-size);
  font-weight: var(--subheader-text-font-weight);
  line-height: var(--subheader-text-line-height);
}
