@use "src/styles/variables" as *;


$code-example-list: 'code-examples';
$code-example: 'code-example';

@include byModifier($code-example-list) {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  @include byName('item') {
    margin: 10px 0 0;
  }
}

@include byModifier($code-example) {
}

.code-block {
  width: auto !important;
  max-width: 100% !important;
  margin: 0 auto !important;

  &.scss {
    width: 100% !important;
  }
}