@import "src/ce/core/styles/utils";

$name: 'docs';

.#{$name} {
  @include byModifier('#{$name}-grid') {
    display: grid;
    grid-template-columns: 200px 1fr;
  }

  @include byModifier('aside') {
    width: 200px;
  }
}