@use "src/styles/variables" as *;


.code-snippet {
  flex-direction: row;

  @include byName('image') {
    border-radius: 10px;
    width: 150px;
  }

  @include byModifier('card-info') {
    margin-left: 15px;
  }
}