@use "src/styles/variables" as *;

$screen-md: 900px;

@include byModifier('row') {
  display: var(--row-display);
  flex-direction: var(--row-direction);

  & > #{$ce-base-name} {
    & + #{$ce-base-name} {
      margin-top: 0;
    }
  }
}