@use "src/styles/variables" as *;

.property-access.maybe-class-name {
  color: #B76B01;
}

.dark-theme {
  .property-access.maybe-class-name {
    color: rgb(255, 160, 122);
  }
}

@include byModifier('code-example') {
  overflow-x: auto;
  background: #efefef;
  border-radius: 10px;

  pre {
    min-width: 100%;
    border-radius: 10px !important;
    margin: 0 auto !important;
    padding: 1em 4em !important;
    font-size: 14px;
    background: transparent !important;

    & + pre {
      padding-top: 0 !important;
      margin-top: -1em !important;
    }

    & > code {
      background: transparent !important;
    }
  }
}

body.dark-theme {
  @include byModifier('code-example') {
    background: #2b2b2b;
  }
}
