:root {
  /**
   * User input values.
   */
  --header-text-color: var(--text-color);
  --header-text-font-size: 28px;
  --header-text-font-weight: 700;
  --header-text-line-height: 1.2em;

  /**
   * Calculated values.
   */
}