:root,
.dark-mode {
  /**
   * User input values.
   */
  --section-title-text-color: var(--text-color);
  --section-title-text-font-size: calc(var(--text-font-size) * 1.6);
  --section-title-text-font-weight: var(--text-font-weight);
  --section-title-text-line-height: var(--text-line-height);

  --section-title-text-align: center;
  --section-title-text-margin-top: 0;
  --section-title-text-margin-right: auto;
  --section-title-text-margin-bottom: 1em;
  --section-title-text-margin-left: auto;
  --section-title-text-margin-x: var(--section-title-text-margin-top);
  --section-title-text-margin-y: var(--section-title-text-margin-left);

  /**
   * Calculated values.
   */
  --section-title-text-margin: var(--section-title-text-margin-top) var(--section-title-text-margin-right) var(--section-title-text-margin-bottom) var(--section-title-text-margin-left);
}