:root {
  /**
   * User input values.
   */
  --section-title-text-color: var(--text-color);
  --section-title-text-font-size: var(--text-font-size);
  --section-title-text-font-weight: var(--text-font-weight);
  --section-title-text-line-height: var(--text-line-height);

  /**
   * Calculated values.
   */
}