:root,
.dark-theme {
  /**
   * User input values.
   */
  --subtitle-text-color: var(--text-color);
  --subtitle-text-font-size: var(--text-font-size);
  --subtitle-text-font-weight: var(--text-font-weight);
  --subtitle-text-line-height: var(--text-line-height);

  /**
   * Calculated values.
   */
}