:root,
.dark-mode {
  /**
   * User input values.
   */
  --title-text-color: var(--text-color);
  --title-text-font-size: calc(var(--text-font-size) * 1.4);
  --title-text-font-weight: var(--text-font-weight);
  --title-text-line-height: var(--text-line-height);

  --title-text-align: left;
  --title-text-margin-top: 0;
  --title-text-margin-right: auto;
  --title-text-margin-bottom: 0;
  --title-text-margin-left: 0;
  --title-text-margin-x: var(--title-text-margin-top);
  --title-text-margin-y: var(--title-text-margin-left);
  --title-text-margin: var(--title-text-margin-top) var(--title-text-margin-right) var(--title-text-margin-bottom) var(--title-text-margin-left);

  /**
   * Calculated values.
   */
}