@use "src/ce/core/styles/utils" as *;

$name: 'header';

.#{$name} {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;

  @include byModifier('logo') {
    margin: 0 auto 0 0;
  }

  @include byModifier('title') {
    text-align: left;
    color: var(--ce-accent-color);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    line-height: var(--header-line-height);
  }
  
  @include byModifier('text') {
    margin: 0;
  }

  @include byModifier('controls') {
    flex-grow: 0;
    align-items: center;
  }
}