@import "src/ce/core/styles/utils";

@include byName() {
  & > code {
    background-color: var(--text-bg-color);
    color: var(--text-color);
  }
}

.dark-theme {
  @include byName() {
    & > code {
      color: var(--text-color-inverted);
    }
  }
}

@include byName('icon') {
  line-height: 0;
}