@import "react-content-elements/dist/styles/utils";

.property-access.maybe-class-name {
  color: #B76B01;
}

.dark-theme {
  .property-access.maybe-class-name {
    color: rgb(255, 160, 122);
  }
}

@include byModifier('code-example') {
  overflow-x: auto;
  pre {
    min-width: 100%;
    border-radius: 10px !important;
    margin: 0 auto !important;
    padding: 1em 4em !important;

    & + pre {
      padding-top: 0 !important;
      margin-top: -1em !important;
    }
  }
}

body:not(.dark-theme) {
  @include byModifier('code-example') {
    background: #efefef;
    border-radius: 10px;
    pre {
      background: transparent !important;

      & > code {
        background: transparent !important;
      }
    }
  }
}

pre {
  font-size: 14px;
}