@use "variables/content-elements/config" as *;

:root {
  body {
    --font-weight-bold: 700;
    --font-weight-bolder: 500;

    --text-font-size: 17px;
    --text-line-height: 1.7;

    line-height: var(--text-line-height);
  }
}
