@import "react-content-elements/dist/styles/utils/shared";


.nav-list {
  width: auto;

  @media (min-width: $screen-md) {
    justify-content: flex-end;
  }

  @include byModifier('active') {
    text-decoration: none;
    transform: scale(1.2);
  }
}