@import "react-content-elements/dist/styles/utils";

.nav-list {
  width: auto;
  justify-content: flex-end;

  @include byName('link') {
    &.active {
      text-decoration: none;
      transform: scale(1.2);
    }
  }
}