@use "src/ce/core/styles/utils" as *;

.nav-list {
  width: auto;
  justify-content: flex-end;

  @include byName('link') {
    &.active {
      text-decoration: none;
      transform: scale(1.2);
    }
  }
}