.dark-mode {
    /**
     * User input values.
     */
    --text-color: #c4c4c4;
    --text-font-size: 16px;
    --text-font-weight: 400;
    --text-line-height: 1.2em;

    /**
     * Calculated values.
     */
}