@import "react-content-elements/dist/styles/utils";

$name: 'code-example';
$listName: 'code-examples';

@include byModifier($listName) {
  width: auto;

  @include byName('item') {
    margin: 10px 0 0;
  }
}

@include byModifier($name) {
  padding: 15px;
  border-top: 1px solid #cccccc;
  //border-radius: 5px;
}